.ghfs-splitpanes.splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
  min-width: 4px;
  margin-right: -3px;
  background: transparent;
  border-left: 1px solid #8882;
  cursor: col-resize;
  transition: background 0.15s;
}
.ghfs-splitpanes.splitpanes--vertical > .splitpanes__splitter:hover,
.ghfs-splitpanes.splitpanes--vertical > .splitpanes__splitter.splitpanes__splitter--active {
  background: #8884;
}
